@import "tailwindcss";
@variant dark (&:where(.dark, .dark *));
@source "./**/*.{ts,tsx}";

:root {
  color-scheme: light dark;
}

.dark {
  color-scheme: dark;
}

body {
  font-family: 'Inter', sans-serif;
}